@{
    ViewBag.Title = "Home Page";
}
<div class="leftblock vertsortable">
    <!-- gadget left 1 -->
    <!-- gadget left 2 -->
    <div class="gadget">
        <div class="titlebar vertsortable_head">
            <a href="#" class="hidegadget" rel="hide_block">
                <img src="images/spacer.gif" alt="picture" width="19" height="33" /></a>
            <h3 class="centerText">
                THAO TÁC THƯỜNG DÙNG</h3>
        </div>
        <div class="gadgetblock">
            <div class="iconblockpar">
                <div class="iconblockshade">
                    <div class="blockshadow">
                        <div class="bs_content iconblock">
                            <p>
                                <a href="News/CreateNews.aspx">
                                    <img src="images/img_1.jpg" width="64" height="64" alt="Admin Box" /></a><br />
                                <a href="News/CreateNews.aspx">Tạo tin mới</a></p>
                        </div>
                    </div>
                </div>
                <div class="iconblockshade">
                    <div class="blockshadow">
                        <div class="bs_content iconblock">
                            <p>
                                <a href="Projects/CreateProject.aspx">
                                    <img src="images/img_3.jpg" width="64" height="64" alt="Web Box" /></a><br />
                                <a href="Projects/CreateProject.aspx">Tạo dự án</a></p>
                        </div>
                    </div>
                </div>
                <div class="iconblockshade">
                    <div class="blockshadow">
                        <div class="bs_content iconblock">
                            <p>
                                <a href="#">
                                    <img src="images/img_2.jpg" width="64" height="64" alt="Art Box" /></a><br />
                                <a href="#">Art Box</a></p>
                        </div>
                    </div>
                </div>
                <div class="iconblockshade">
                    <div class="blockshadow">
                        <div class="bs_content iconblock">
                            <p>
                                <a href="#">
                                    <img src="images/img_4.jpg" width="64" height="64" alt="Art Line" /></a><br />
                                <a href="#">Art Line</a></p>
                        </div>
                    </div>
                </div>
                <div class="iconblockshade">
                    <div class="blockshadow">
                        <div class="bs_content iconblock">
                            <p>
                                <a href="#">
                                    <img src="images/img_5.jpg" width="64" height="64" alt="Web Box" /></a><br />
                                <a href="#">Web Box</a></p>
                        </div>
                    </div>
                </div>
                <div class="iconblockshade">
                    <div class="blockshadow">
                        <div class="bs_content iconblock">
                            <p>
                                <a href="#">
                                    <img src="images/img_6.jpg" width="64" height="64" alt="Webmail" /></a><br />
                                <a href="#">Webmail</a></p>
                        </div>
                    </div>
                </div>
                <div class="iconblockshade">
                    <div class="blockshadow">
                        <div class="bs_content iconblock">
                            <p>
                                <a href="#">
                                    <img src="images/img_7.jpg" width="64" height="64" alt="Contact Us" /></a><br />
                                <a href="#">Contact Us</a></p>
                        </div>
                    </div>
                </div>
                <div class="iconblockshade">
                    <div class="blockshadow">
                        <div class="bs_content iconblock">
                            <p>
                                <a href="#">
                                    <img src="images/img_8.jpg" width="64" height="64" alt="Web Box" /></a><br />
                                <a href="#">Web Box</a></p>
                        </div>
                    </div>
                </div>
                <div class="iconblockshade">
                    <div class="blockshadow">
                        <div class="bs_content iconblock">
                            <p>
                                <a href="#">
                                    <img src="images/img_9.jpg" width="64" height="64" alt="Web Box" /></a><br />
                                <a href="#">Web Box</a></p>
                        </div>
                    </div>
                </div>
                <div class="clr">
                </div>
            </div>
        </div>
    </div>
    <!-- gadget left 3 -->
    <div class="gadget">
        <div class="titlebar vertsortable_head">
            <a href="#" class="hidegadget" rel="hide_block">
                <img src="images/spacer.gif" alt="picture" width="19" height="33" /></a>
            <h3>
                CẢNH BÁO</h3>
        </div>
        <div class="gadgetblock">
            <h2>
                Bạn là quản trị web?</h2>
            <p class="light">
                Bạn đang truy cập vào trang quản trị hệ thống website của Công ty CP Xây Dựng Tháp
                Kim.</p>
            <div class="linehr">
            </div>
            <p>
                Hệ thống này là tài sản của Công ty CP Xây dựng Tháp Kim. Nếu bạn chưa được cho
                phép (bằng email) của Ban Giám Đốc thì vui lòng thoát khỏi hệ thống ngay lập tức,
                nếu không bạn phải chịu trách nhiệm pháp lý cho những thông tin trên hệ thống này!</p>
            <p>
                Mọi hoạt động của bạn đều đang được theo dõi!</p>
        </div>
    </div>
    <!-- gadget left 5 -->
    <div class="gadget">
        <div class="titlebar vertsortable_head">
            <a href="#" class="hidegadget" rel="hide_block">
                <img src="images/spacer.gif" alt="picture" width="19" height="33" /></a>
            <h3>
                Thông tin hỗ trợ</h3>
        </div>
        <div class="gadgetblock">
            <form action="" method="post" id="form_userstable">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gwlines">
                <tr>
                    <th width="40">
                        <input name="utc1" id="utc1" type="checkbox" />
                    </th>
                    <th width="150">
                        Tên
                    </th>
                    <th width="150">
                        Mobile
                    </th>
                    <th>
                        E-mail
                    </th>
                </tr>
                <tr>
                    <td>
                        <input name="utc3" id="Checkbox1" type="checkbox" />
                    </td>
                    <td>
                        Văn Đức Sơn Hà
                    </td>
                    <td>
                        (+84) 1223.937.937
                    </td>
                    <td>
                        <a href="mailto:vanducsonha@gmail.com">vanducsonha@gmail.com</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="utc3" id="Checkbox1" type="checkbox" />
                    </td>
                    <td>
                        Hồ Quốc Phong
                    </td>
                    <td>
                        (+84) 902 384 315
                    </td>
                    <td>
                        <a href="mailto:phongmt02bk@gmail.com">phongmt02bk@gmail.com</a>
                    </td>
                </tr>
                <tr class="last">
                    <td>
                        <input name="utc4" id="utc4" type="checkbox" />
                    </td>
                    <td>
                        Nguyễn Hồng Huấn
                    </td>
                    <td>
                        (+84) 906 028 243
                    </td>
                    <td>
                        <a href="mailto:huan.nguyen.playsoft@gmail.com">huan.nguyen.playsoft@gmail.com</a>
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</div>
<div class="rightblock vertsortable">
    <!-- gadget right 1 -->
    <div class="gadget">
        <div class="titlebar vertsortable_head">
            <a href="#" class="hidegadget" rel="hide_block">
                <img src="images/spacer.gif" alt="picture" width="19" height="33" /></a>
            <h3>
                Date &amp; Time</h3>
        </div>
        <div class="gadgetblock">
            <div class="whiteblock">
                <p class="timeclock">
                    <img src="images/icon_clock.gif" alt="picture" width="26" height="26" />
                    <span id="tm">11:57</span></p>
                <p class="light nobottom p_center">
                    20th June, 2009, Friday</p>
            </div>
            <!-- Datepicker -->
            <h3>
                <img src="images/icon_calendar.gif" alt="picture" width="21" height="21" class="calendar" />Calendar</h3>
            <div id="datepicker">
            </div>
            <div class="clr">
            </div>
            <p class="bot8px">
                <a href="#" class="colourbutton button_orange"><span><span>+ Add Event</span></span></a>&nbsp;<a
                    href="#" class="colourbutton button_blue"><span><span>List Events</span></span></a></p>
        </div>
    </div>
</div>
